/* Basislayout */
#hoofdtitel {
font-family: Pacifico;
color: red;

}


 html, body {
    height: 100%;
    padding: 0;
    background-color: rgb(230, 230, 230);  
    
    color: #303030;
    font: arial;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
}


header {
    color: skyblue;
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}


/* images */

img.zweefLinks {
    float: left;
    margin-right: 15px;
    width: 250px;

}

img.zweefRechts {
    float: right;
    margin-right: 15px;
}

img.vliegtuig {
float: left;
width: 300px;
margin-right: 10px;
}
/* text */
p.vliegtuig {
color:black;
}

div.Clear {
clear:both;

}

.smalltext {
    font-size: 0.7em;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: ;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: 2px;
    padding: 7px;
    background-color: #dddddd;
    overflow: hidden;
    border-radius: 25px;

}

nav ul li {
    float: left;

}


nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 42px;
    text-decoration: none;
    border-radius: 25px;
}

nav li a:hover {
    background-color: #aaaaaa;
}

nav li a.active {
    background-color: red;
}
